<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">

      <div class="tm-container">
        <div class="tm-row">
          <!-- Site Header -->
          <div class="tm-left">
            <div class="tm-left-inner">
              <div class="tm-site-header">
                <i class="fas fa-coffee fa-3x tm-site-logo"></i>
                <h1 class="tm-site-name">RESTAURANT</h1>
              </div>
              <nav class="tm-site-nav">
                <ul class="tm-site-nav-ul">
                  <li class="tm-page-nav-item">
                    <a (click)="changeMenuItem('drink')" [ngClass]="{'active': isClassActivedrink}" class="tm-page-link">
                      <i class="fas fa-mug-hot tm-page-link-icon"></i>
                      <span>Drink Menu</span>
                    </a>
                  </li>
                  <li class="tm-page-nav-item">
                    <a (click)="changeMenuItem('about')" [ngClass]="{'active': isClassActiveabout}" class="tm-page-link">
                      <i class="fas fa-users tm-page-link-icon"></i>
                      <span>About Us</span>
                    </a>
                  </li>
                  <li class="tm-page-nav-item">
                    <a (click)="changeMenuItem('special')" [ngClass]="{'active': isClassActivespecial}" class="tm-page-link">
                      <i class="fas fa-glass-martini tm-page-link-icon"></i>
                      <span>Special Items</span>
                    </a>
                  </li>
                  <li class="tm-page-nav-item">
                    <a (click)="changeMenuItem('contact')" [ngClass]="{'active': isClassActivecontact}" class="tm-page-link">
                      <i class="fas fa-comments tm-page-link-icon"></i>
                      <span>Contact</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>        
          </div>
          <div class="tm-right">
            <main class="tm-main">
              <div id="drink" [ngClass]="{'hide': !isClassActivedrink}" class="tm-page-content">
                <!-- Drink Menu Page -->
                <nav class="tm-black-bg tm-drinks-nav">
                  <ul>
                    <li>
                      <a class="tm-tab-link" [class.active]="isActiveIce" (click)="toggleActive('ice')" data-id="cold">Iced Coffee</a>
                    </li>
                    <li>
                      <a class="tm-tab-link" [class.active]="isActiveHot" (click)="toggleActive('hot')" data-id="hot">Hot Coffee</a>
                    </li>
                    <li>
                      <a class="tm-tab-link" [class.active]="isActiveJuice" (click)="toggleActive('juice')" data-id="juice">Fruit Juice</a>
                    </li>
                  </ul>
                </nav>
    
                <div id="cold" [ngClass]="{'hide': !isActiveIce}" class="tm-tab-content">
                  <div class="tm-list">
                    <div class="tm-list-item">          
                      <img src="assets/img/iced-americano.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Iced Americano<span class="tm-list-item-price">10.25 DH</span></h3>
                        <p class="tm-list-item-description">Here is a short description for the first item. Wave Cafe Template is provided by Tooplate.</p>
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/iced-cappuccino.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Iced Cappuccino<span class="tm-list-item-price">20.50 DH</span></h3>
                        <p class="tm-list-item-description">Here is a list of 4 items or add more. You can use this template for commercial purposes.</p>
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/iced-espresso.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Iced Espresso<span class="tm-list-item-price">40.25   DH</span></h3>
                        <p class="tm-list-item-description">You are not permitted to redistribute this template ZIP file on any other template websites.</p>
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/iced-latte.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Iced Latte<span class="tm-list-item-price">60.50 DH</span></h3>
                        <p class="tm-list-item-description">our Iced Latte is a work of art in a glass, crafted to perfection to elevate your coffee experience to new heights. We take pride in offering a delightful Iced Latte that not only quenches your thirst but also tantalizes your taste buds with every sip. <a href="https://www.tooplate.com/contact" rel="nofollow" target="_parent">contact Tooplate</a> if you have anything to ask.</p>
                      </div>
                    </div> 
                                           
                  </div>
                </div> 
    
                <div id="hot" [ngClass]="{'hide': !isActiveHot}" class="tm-tab-content">
                  <div class="tm-list">
                  
                    <div class="tm-list-item">          
                      <img src="assets/img/hot-americano.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Hot Americano<span class="tm-list-item-price">80.50 DH</span></h3>
                        <p class="tm-list-item-description">Here is a short description for the item along with a squared thumbnail.</p>              
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/hot-cappuccino.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Hot Cappuccino<span class="tm-list-item-price">50.50 DH</span></h3>
                        <p class="tm-list-item-description">Here is a list of 4 items that can add more as you need. Only content area will be scrolling.</p>                    
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/hot-espresso.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Hot Espresso<span class="tm-list-item-price">70.50 DH</span></h3>
                        <p class="tm-list-item-description">Left side logo and main menu are fixed. The video background is fixed.</p>              
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/hot-latte.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Hot Latte<span class="tm-list-item-price">60.50 DH</span></h3>
                        <p class="tm-list-item-description">Page contents are organized into 3 tabs to show different lists of items.</p>              
                      </div>
                    </div>
                             
                  </div>
                </div>
    
                <div id="juice" [ngClass]="{'hide': !isActiveJuice}" class="tm-tab-content">
                  <div class="tm-list">
                    <div class="tm-list-item">          
                      <img src="assets/img/smoothie-1.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Strawberry Smoothie<span class="tm-list-item-price">102.50 DH</span></h3>
                        <p class="tm-list-item-description">Here is a short description for the item along with a squared thumbnail.</p>              
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/smoothie-2.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Red Berry Smoothie<span class="tm-list-item-price">140.50 DH</span></h3>
                        <p class="tm-list-item-description">Here is a list of 4 items or add more. You can use this template for commercial purposes.</p>                    
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/smoothie-3.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Pineapple Smoothie<span class="tm-list-item-price">160.50DH</span></h3>
                        <p class="tm-list-item-description">Left side logo and main menu are fixed. The video background is fixed.</p>              
                      </div>
                    </div>
                    <div class="tm-list-item">          
                      <img src="assets/img/smoothie-4.png" alt="Image" class="tm-list-item-img">
                      <div class="tm-black-bg tm-list-item-text">
                        <h3 class="tm-list-item-name">Spinach Smoothie<span class="tm-list-item-price">180.50 DH</span></h3>
                        <p class="tm-list-item-description">You are not allowed to redistribute the template ZIP file on other template sites.</p>              
                      </div>
                    </div>              
                  </div>
                </div>
                <!-- end Drink Menu Page -->
              </div>
    
              <!-- About Us Page -->
              <div id="about" [ngClass]="{'hide': !isClassActiveabout}" class="tm-page-content">
                <div class="tm-black-bg tm-mb-20 tm-about-box-1">              
                  <h2 class="tm-text-primary tm-about-header">About RESTAURANT</h2>
                  <div class="tm-list-item tm-list-item-2">                
                    <img src="assets/img/about-1.png" alt="Image" class="tm-list-item-img tm-list-item-img-big">
                    <div class="tm-list-item-text-2">
                      <p>RESTAURANT is a hidden gem nestled in the heart of a bustling city. With an ambiance that seamlessly blends modern sophistication with rustic charm, this restaurant offers a unique dining experience that keeps patrons coming back for more.</p>
                      <p>As you step inside  RESTAURANT, you're greeted by warm, dimmed lighting that casts a soft glow on the exposed brick walls adorned with vintage artwork. The décor exudes an inviting and cozy atmosphere, making it the perfect spot for a romantic dinner or an intimate gathering with friends and family.</p>
                    </div>                
                  </div>
                </div>
                <div class="tm-black-bg tm-mb-20 tm-about-box-2">              
                  <div class="tm-list-item tm-list-item-2">                
                    <div class="tm-list-item-text-2">
                      <h2 class="tm-text-primary">How we began</h2>
                      <p>If you wish to support us, please contact Tooplate. Thank you. Duis bibendum erat nec ipsum consectetur sodales.</p>                  
                    </div>                
                    <img src="assets/img/about-2.png" alt="Image" class="tm-list-item-img tm-list-item-img-big tm-img-right">                
                  </div>
                  <p>RESTAURANT began when ali, a pastry chef, and TAHA, a worldly chef, met at a food festival. Their shared love for food and dreams of creating an extraordinary dining experience led them to start the restaurant. They blended their culinary skills, overcame challenges, and finally opened  RESTAURANT, where they combined sweet and savory dishes to bridge cultures through food, symbolizing their partnership and passion.</p>
                </div>
              </div>
              <!-- end About Us Page -->
    
              <!-- Special Items Page -->
              <div id="special" [ngClass]="{'hide': !isClassActivespecial}" class="tm-page-content">
                <div class="tm-special-items">
                  <div class="tm-black-bg tm-special-item">
                    <img src="assets/img/special-01.jpg" alt="Image">
                    <div class="tm-special-item-description">
                      <h2 class="tm-text-primary tm-special-item-title">Special One</h2>
                      <p class="tm-special-item-text">Here is a short text description for the first special item. You are not allowed to redistribute this template ZIP file.</p>  
                    </div>
                  </div>
                  <div class="tm-black-bg tm-special-item">
                    <img src="assets/img/ -02.jpg" alt="Image">
                    <div class="tm-special-item-description">
                      <h2 class="tm-text-primary tm-special-item-title">Second Item</h2>
                      <p class="tm-special-item-text">You are allowed to download, modify and use this template for your commercial or non-commercial websites.</p>  
                    </div>
                  </div>
                  <div class="tm-black-bg tm-special-item">
                    <img src="assets/img/special-03.jpg" alt="Image">
                    <div class="tm-special-item-description">
                      <h2 class="tm-text-primary tm-special-item-title">The Burger</h2>
                      <p class="tm-special-item-text">A fusion masterpiece, the Burger blends American comfort food with international flair. It includes a juicy beef patty topped with halloumi cheese, harissa aioli, and crispy shoestring fries, all encased in a sesame seed bun.</p>  
                    </div>
                  </div>
                  <div class="tm-black-bg tm-special-item">
                    <img src="assets/img/special-04.jpg" alt="Image">
                    <div class="tm-special-item-description">
                      <h2 class="tm-text-primary tm-special-item-title">Special Item Fourth</h2>
                      <p class="tm-special-item-text">Vivamus finibus nulla sed metus sagittis, sed ultrices magna aliquam. Mauris fermentum.</p>  
                    </div>
                  </div>      
                  <div class="tm-black-bg tm-special-item">
                    <img src="assets/img/special-05.jpg" alt="Image">
                    <div class="tm-special-item-description">
                      <h2 class="tm-text-primary tm-special-item-title">Sixth Sense</h2>
                      <p class="tm-special-item-text">Here is a short text description for sixth item. This text is four lines.</p>  
                    </div>
                  </div>
                  <div class="tm-black-bg tm-special-item">
                    <img src="assets/img/special-06.jpg" alt="Image">
                    <div class="tm-special-item-description">
                      <h2 class="tm-text-primary tm-special-item-title">Tacos</h2>
                      <p class="tm-special-item-text">RESTAURANT might offer a variety of tacos, including classic options like carne asada, al pastor, and fish tacos, served with fresh salsa and toppings.</p>  
                    </div>
                  </div>                      
                </div>            
              </div>
              <!-- end Special Items Page -->
    
              <!-- Contact Page -->
              <div id="contact" [ngClass]="{'hide': !isClassActivecontact}" class="tm-page-content">
                <div class="tm-black-bg tm-contact-text-container">
                  <h2 class="tm-text-primary">Contact Wave</h2>
                  <p>Wave Cafe Template has a video background. You can use this layout for your websites. Please contact Tooplate's Facebook page. Tell your friends about our website.</p>
                </div>
                <div class="tm-black-bg tm-contact-form-container tm-align-right">
                  <form action="" method="POST" id="contact-form">
                    <div class="tm-form-group">
                      <input type="text" name="name" class="tm-form-control" placeholder="Name" required="" />
                    </div>
                    <div class="tm-form-group">
                      <input type="email" name="email" class="tm-form-control" placeholder="Email" required="" />
                    </div>        
                    <div class="tm-form-group tm-mb-30">
                      <textarea rows="6" name="message" class="tm-form-control" placeholder="Message" required=""></textarea>
                    </div>        
                    <div>
                      <button type="submit" class="tm-btn-primary tm-align-right">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- end Contact Page -->
            </main>
          </div>    
        </div>
        <footer class="tm-site-footer">
          <p class="tm-black-bg tm-footer-text">Copyright 2020 Wave Cafe
          
          | Design: <a href="https://www.tooplate.com" class="tm-footer-link" rel="sponsored" target="_parent">Tooplate</a></p>
        </footer>
      </div>
        
      <!-- Background video -->
      <div class="tm-video-wrapper">
          <i id="tm-video-control-button" class="fas fa-pause"></i>
          <video autoplay muted loop id="tm-video">
              <source src="assets/video/wave-cafe-video-bg.mp4" type="video/mp4">
          </video>
      </div>
    
      <script src="js/jquery-3.4.1.min.js"></script>    
      <script>
    
        function setVideoSize() {
          const vidWidth = 1920;
          const vidHeight = 1080;
          const windowWidth = window.innerWidth;
          const windowHeight = window.innerHeight;
          const tempVidWidth = windowHeight * vidWidth / vidHeight;
          const tempVidHeight = windowWidth * vidHeight / vidWidth;
          const newVidWidth = tempVidWidth > windowWidth ? tempVidWidth : windowWidth;
          const newVidHeight = tempVidHeight > windowHeight ? tempVidHeight : windowHeight;
          const tmVideo = $('#tm-video');
    
          tmVideo.css('width', newVidWidth);
          tmVideo.css('height', newVidHeight);
        }
    
        function openTab(evt, id) {
          $('.tm-tab-content').hide();
          $('#' + id).show();
          $('.tm-tab-link').removeClass('active');
          $(evt.currentTarget).addClass('active');
        }    
    
        function initPage() {
          let pageId = location.hash;
    
          if(pageId) {
            highlightMenu($(`.tm-page-link[href^="${pageId}"]`)); 
            showPage($(pageId));
          }
          else {
            pageId = $('.tm-page-link.active').attr('href');
            showPage($(pageId));
          }
        }
    
        function highlightMenu(menuItem) {
          $('.tm-page-link').removeClass('active');
          menuItem.addClass('active');
        }
    
        function showPage(page) {
          $('.tm-page-content').hide();
          page.show();
        }
    
        $(document).ready(function(){
    
          /***************** Pages *****************/
    
          initPage();
    
          $('.tm-page-link').click(function(event) {
            
            if(window.innerWidth > 991) {
              event.preventDefault();
            }
    
            highlightMenu($(event.currentTarget));
            showPage($(event.currentTarget.hash));
          });
    
          
          /***************** Tabs *******************/
    
          $('.tm-tab-link').on('click', e => {
            e.preventDefault(); 
            openTab(e, $(e.target).data('id'));
          });
    
          $('.tm-tab-link.active').click(); // Open default tab
    
    
          /************** Video background *********/
    
          setVideoSize();
    
          // Set video background size based on window size
          let timeout;
          window.onresize = function(){
            clearTimeout(timeout);
            timeout = setTimeout(setVideoSize, 100);
          };
    
          // Play/Pause button for video background      
          const btn = $("#tm-video-control-button");
    
          btn.on("click", function(e) {
            const video = document.getElementById("tm-video");
            $(this).removeClass();
    
            if (video.paused) {
              video.play();
              $(this).addClass("fas fa-pause");
            } else {
              video.pause();
              $(this).addClass("fas fa-play");
            }
          });
        });
          
      </script>


  </div>
</div>